@import "./sections/grid";
@import "./sections/slide1";
@import "./sections/community";

// ====== NAV ======

/* nav media query */
// @media screen and (min-width: 800px) {
//   .nav-center {
//     display: grid;
//     grid-template-columns: auto 1fr auto;
//     align-items: center;
//   }
//   .toggle-btn {
//     display: none;
//   }
//   .signin-btn {
//     display: inline-block;
//   }
//   .nav-links {
//     display: block;
//     justify-self: center;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     text-align: center;
//     height: 100%;
//     display: grid;
//     align-items: center;
//   }
//   .nav-links li {
//     height: 100%;
//   }
//   .link-btn {
//     height: 100%;
//     background: transparent;
//     border-color: transparent;
//     font-size: 1.1rem;
//     color: white;
//     text-transform: capitalize;
//     letter-spacing: 1px;
//     width: 10rem;
//   }
// }

//  ====== SIDEBAR ======

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 80vw;
  height: 85vh;
  max-width: 620px;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 4rem 2rem 2rem 4rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--mainBlack);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  &:hover {
    color: var(--darkerGray);
  }
}
.sidebar article {
  margin-bottom: 1rem;
}

// GRID OF SIDEBAR LINKS

.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  font-weight: 500;
  color: var(--darkerGray);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  &:hover {
    color: var(--mainBlack);
  }
}
.sidebar-sublinks svg {
  color: var(--darkerGray);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

// ====== SUBMENU ======

.submenu {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 10px;
  transition: 0.3s;
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: grey;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: grey;
  margin-right: 1rem;
}

//  =====NAVBAR=====
.navbar {
  background: var(--mainGrey);
  height: 5rem;
  border-bottom: (var(--borderBottom));
  display: flex;
  align-items: center;
  position: relative;
  .nav-center {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 5rem;
    grid-template-areas: "logo navs search";
    text-align: center;
    align-content: center;
    min-width: var(--smallWidth);
    height: 100%;
    margin: 0 0;
    width: var(--fullWidth);
    .logo-link {
      grid-area: logo;
      justify-self: center;
      align-self: center;
    }
    .logo {
      width: 10rem;
      margin: 0 20px 0 0;
    }
    .nav-links-container {
      overflow: hidden;
      .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        grid-area: navs;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        .nav-link {
          text-transform: capitalize;
          display: flex;
          justify-items: center;
          align-items: center;
          margin-right: 2.5rem;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 0.8rem;
          transition: var(--mainTransition);
          height: 80%;
          &:hover {
            color: var(--darkerGray);
          }
        }
      }
    }
    .search {
      grid-area: search;
      display: flex;
      align-items: center;
      justify-self: end;
      .nav-toggle {
        font-size: 1.5rem;
        color: var(--darkerGray);
        background: transparent;
        border-color: transparent;
        transition: var(--mainTransition);
        display: none;
        cursor: pointer;
        &:hover {
          color: var(--mainBlack);
          transform: rotate(90deg);
        }
      }
      .cart-link svg {
        transition: var(--mainTransition);
        font-size: 1.5rem;
        color: var(--mainBlack);
        margin: 0 20px;
        &:hover {
          color: var(--darkerGray);
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar .nav-center {
    grid-template-areas: "logo . search";
  }
  .search {
    justify-self: flex-start;
  }
  .nav-toggle {
    display: block;
  }
  .navbar {
    .nav-center {
      .nav-links-container {
        .nav-links {
          display: none;
        }
      }
      .search {
        .nav-toggle {
          display: block;
        }
      }
    }
  }
}

// ===== ABOUT SECTION ======
.about-container {
  margin: 30px 0;
  padding: 20px 0 0;
  border-top: 1px solid var(--grey);
  h3 {
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  p {
    font-weight: 300;
    letter-spacing: 0.2px;
    word-spacing: 2px;
    font-size: 0.75rem;
    margin: 0 0 0.6rem;
  }
  span {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 300;
    letter-spacing: 0.2px;
    font-size: 0.8rem;
    color: var(--darkerGray);
    cursor: pointer;
    &:hover {
      border: none;
      text-decoration: none;
    }
  }
}

// ====== FOOTER  ======
// ====== NEWSLETTER  ======
footer {
  background-color: var(--mainWhite);
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.newsletter {
  grid-row: 1/2;
  border-top: 1px solid var(--grey);
  padding: 30px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  .newsletter-text-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    h3 {
      grid-row: 1/2;
      grid-column: 1/5;
      font-weight: 400;
      letter-spacing: 1.5px;
      margin: 0%;
    }
    p {
      grid-row: 2/3;
      grid-column: 1/5;
      font-weight: 300;
      letter-spacing: 0.2px;
      word-spacing: 2px;
      font-size: 0.75rem;
      margin: 0.6rem 0;
      color: var(--darkerGray);
    }
  }
  form {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    justify-items: start;
    label {
      grid-column: 1/4;
      grid-row: 1/2;
      font-weight: 600;
      letter-spacing: 0.2px;
      word-spacing: 2px;
      font-size: 0.85rem;
      margin: 10px 0;
    }
    input {
      grid-column: 1/3;
      grid-row: 2/2;
      height: 45px;
      width: 100%;
    }
    button {
      grid-column: 3/4;
      grid-row: 2/2;
      height: 45px;
      width: 140px;
      background-color: var(--mainBlack);
      color: var(--offWhite);
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 1px;
      border: none;
      &:hover {
        background-color: var(--darkerGray);
      }
    }
  }
  .newsletter-policy {
    grid-row: 2/3;
    grid-column: 1/3;
    font-weight: 400;
    font-size: 0.6rem;
    margin: 1rem 0 0;
    color: var(--darkestGray);
    span {
      text-decoration: underline;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .newsletter {
    padding: 30px 60px;
    grid-template-rows: auto auto auto;
    .newsletter-text-container {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    form {
      grid-column: 1/4;
      grid-row: 2/3;
      label {
        grid-column: 1/4;
        grid-row: 1/2;
        margin: 10px 0;
      }
      input {
        grid-column: 1/3;
        grid-row: 2/2;
        width: 100%;
      }
      button {
        grid-column: 3/4;
        grid-row: 2/2;
        width: 100%;
      }
    }
    .newsletter-policy {
      grid-row: 3/4;
      grid-column: 1/4;
    }
  }
}
@media only screen and (max-width: 600px) {
  .newsletter {
    padding: 30px 20px;
    form {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto;
      grid-column-gap: 0px;
      grid-row-gap: 10px;
      input {
        grid-column: 1/2;
        grid-row: 2/2;
      }
      button {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }
    .newsletter-policy {
      grid-row: 3/4;
      grid-column: 1/4;
    }
  }
}

// ====== FOOTER LINKS  ======
.footer-container {
  grid-row: 2/3;
  padding: 30px 120px 0px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  border-top: 1px solid var(--grey);
  grid-row-gap: 50px;
  .footer-links {
    grid-template-rows: 1/2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    h5 {
      font-weight: 600;
      letter-spacing: 0.4px;
      margin: 0 0 5px;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        font-size: 0.8rem;
        margin: 5px 0;
        a {
          color: var(--mainBlack);
        }
      }
    }
    .footer-link0 {
      grid-column: 2/3;
    }
    .footer-link1 {
      grid-column: 3/4;
    }
    .footer-link2 {
      grid-column: 4/5;
    }
    .footer-link3,
    .footer-link4 {
      grid-column: 5/6;
      display: flex;
      flex-direction: row;
      margin: 0 0 10px;
      h5 {
        padding: 0 5px;
        cursor: pointer;
      }
      svg {
        font-size: 22px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .footer-container {
    padding: 30px 60px 0;
    border-top: 1px solid transparent;
    .footer-links {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      .footer-link0 {
        grid-column: 1/2;
      }
      .footer-link1 {
        grid-column: 2/3;
      }
      .footer-link2 {
        grid-column: 3/4;
      }
      .footer-link3,
      .footer-link4 {
        grid-column: 4/5;
        margin: 0 0 10px;
      }
    }
  }
}

// media on screen max-width 800
@media only screen and (max-width: 800px) {
  .footer-container {
    padding: 0px 0px;
    .footer-links-tabs {
      grid-template-rows: 1/2;
      display: flex;
      flex-direction: column;
      .footer-link {
        .footer-link-title-container {
          position: relative;
          .footer-link-expand {
            position: absolute;
            right: 10px;
            top: calc(50% - 10px);
            font-size: 20px;
            cursor: pointer;
          }
        }
        h5 {
          font-weight: 500;
          letter-spacing: 0.4px;
          padding: 15px;
          margin: 0px;
          border-top: 1px solid var(--grey);
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            font-size: 0.8rem;
            margin: 0;
            padding: 15px;
            border-top: 1px solid var(--grey);
            a {
              color: var(--mainBlack);
            }
          }
        }
      }
      .footer-link3,
      .footer-link4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--grey);
        h5 {
          cursor: pointer;
          border-top: 1px solid transparent;
          padding: 15px 5px;
          margin: 0px;
        }
        svg {
          cursor: pointer;
          font-size: 22px;
        }
      }
    }
  }
}
// ===== FOOTER - FOOTER SOCIALS =====
.footer-socials {
  grid-row: 2/3;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 50px;
  .footer-socials-download {
    display: flex;
    justify-self: right;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    img {
      margin: 0 10px;
      height: 40px;
      width: 135px;
    }
  }
  .footer-socials-links {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: left;
    grid-column: 2/3;
    grid-row: 1/2;
    svg {
      margin: 5px 10px;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .footer-socials-docs {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px 0 0;
    ul {
      display: flex;
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      li {
        font-size: 0.6rem;
        padding: 0 5px;
        border-right: 1px solid var(--grey);
        &:last-of-type {
          border-right: 1px solid transparent;
        }
      }
    }
  }
  .footer-socials-rights {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 20px 0 0;
    justify-self: right;
    p {
      font-size: 0.6rem;
    }
  }
}
@media only screen and (max-width: 900px) {
  .footer-socials {
    .footer-socials-links {
      flex-wrap: wrap;
    }
    .footer-socials-docs {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
    }
    .footer-socials-rights {
      grid-column: 1/3;
      grid-row: 3/4;
      justify-self: center;
    }
  }
}
@media only screen and (max-width: 560px) {
  .footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-socials-links {
      margin-top: 20px;
    }
    .footer-socials-docs {
      ul {
        li {
          padding: 0 2px;
        }
      }
    }
  }
}
