@import "./sections/grid";
@import "./sections/slide1";
//  =====NAVBAR=====
.navbar {
  background: var(--mainGrey);
  height: 5rem;
  border-bottom: (var(--borderBottom));
  display: flex;
  align-items: center;
  position: relative;
  .nav-center {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "logo navs search";
    text-align: center;
    align-content: center;
    min-width: var(--smallWidth);
    height: 100%;
    margin: 0 0;
    width: var(--fullWidth);
    .logo-link {
      grid-area: logo;
      justify-self: center;
    }
    .logo {
      width: 10rem;
      margin: 0 20px 0 0;
    }
    .nav-links-container {
      overflow: hidden;
      .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        grid-area: navs;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        .nav-link {
          text-transform: capitalize;
          display: block;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 2.5rem;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 0.8rem;
          transition: var(--mainTransition);
          border-bottom: 1px solid transparent;
          &:hover {
            color: var(--darkerGray);
          }
        }
      }
    }
    .search {
      grid-area: search;
      display: flex;
      align-items: center;
      justify-self: end;
      .hidden {
        display: none;
      }
      .nav-toggle {
        font-size: 1.5rem;
        color: var(--darkerGray);
        background: transparent;
        border-color: transparent;
        transition: var(--mainTransition);
        cursor: pointer;
        &:hover {
          color: var(--mainBlack);
          transform: rotate(90deg);
        }
      }
      .cart-link svg {
        transition: var(--mainTransition);
        font-size: 1.5rem;
        color: var(--mainBlack);
        margin: 0 20px;
        &:hover {
          color: var(--darkerGray);
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .navbar .nav-center {
    grid-template-areas: "logo . search";
  }
  .search {
    justify-self: flex-start;
  }
  .navbar .nav-center .nav-links-container {
    position: absolute;
    top: 110%;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  .nav-links {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: var(--mainBackground);
  }
  .navbar .nav-center .nav-links-container .nav-link {
    margin-right: 2.5rem;
    font-size: 1rem;
    transition: var(--mainTransition);
    &:hover {
      color: var(--darkerGray);
      border-bottom: 1px solid var(--darkerGrey);
    }
  }
}

// =====MAIN=====
.main {
  padding: 0 60px;
}
