.product-whole {
    .product-category-location {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 400;
        margin: 20px;
        display: flex;
        justify-content: center;
        p {
            margin: 0;
            cursor: pointer;
            text-transform: capitalize;
            &:hover {
                color: var(--darkerGray);
            }
        }
        span {
            margin: 0 5px;
        }
    }
}
.product-container {
    display: grid;
    grid-template-columns: 55% 5.6% 36.6% 2.8% 0;
    grid-column-gap: 0;
    padding: 0 60px;
}
.product-photo-container {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: calc(1.5vw + 5px);
    .product-vertical-slide {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        img {
            margin: 0 0 20px;
            cursor: pointer;
        }
    }
    .product-image-container {
        grid-column: 2/3;
        img {
            cursor: crosshair;
        }
    }
}
.product-bold-text {
    font-size: 0.75rem;
    font-weight: 600;
}
.product-info-container {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    section {
        border-bottom: 1px solid var(--grey);
        &:last-of-type {
            border: none;
        }
    }
}
.product-info-main,
.product-title-price {
    h2 {
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }
}
.product-colors-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    .product-bold-text {
        margin: 0 0 10px;
        span {
            font-weight: 300;
            margin: 0 0 0 5px;
        }
    }
    .product-color-bubbles {
        display: flex;
        .product-color {
            cursor: pointer;
            margin: 0 5px 0 0;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid var(--grey);
            &:hover {
                border: 1px double var(--darkerGray);
            }
        }
    }
}
.product-size-container {
    display: flex;
    flex-direction: column;
    .product-sizes {
        display: flex;
        flex-wrap: wrap;
        div {
            margin: 0 5px 0 0;
            border: 1px solid var(--grey);
            width: 44px;
            height: 38px;
            font-size: 0.75rem;
            font-weight: 400;
            color: var(--darkerGray);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: var(--mainBlack);
                background-color: var(--lightGray);
            }
        }
    }
}

.product-quantity-container {
    margin: 20px 0;
    p {
        margin-bottom: 5px;
    }
    select {
        width: 100px;
        height: 45px;
        border-radius: 5px;
        border: 1px solid var(--darkGray);
        padding-left: 10px;
        font-size: 1rem;
        &:focus {
            border: 1px solid var(--darkerGray);
        }
    }
}

.product-add-to-cart-btn {
    margin: 20px 0;
    width: 100%;
    height: 46px;
    background-color: var(--mainBlack);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.product-info-details,
.product-info-returns {
    margin: 20px 0 0;
    padding-bottom: 20px;
    h4 {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        color: var(--darkerGray);
        font-size: 0.75rem;
    }
    b {
        color: var(--darkerGray);
        font-weight: 600;
        font-size: 0.75rem;
    }
    table,
    th,
    td {
        border: 1px solid var(--grey);
        border-collapse: collapse;
        margin: 5px 0;
    }
    th,
    td {
        padding: 12px 10px;
        font-size: 0.75rem;
        text-align: center;
        color: var(--darkerGray);
    }
    th {
        font-weight: 600;
    }
    .product-info-returns-footer {
        margin: 20px 0;
        p {
            margin: 10px 0;
            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .bold-text {
            font-weight: 600;
            margin: 20px 0 10px;
        }
    }
}

// ===== RESPONSIVE ======
@media only screen and (max-width: 750px) {
    .product-whole {
        .product-category-location {
            justify-content: start;
        }
    }
    .product-container {
        padding: 0 20px;
        grid-template-columns: 100%;
        justify-content: center;
        max-width: 1561px;
        margin: 0 auto;
    }

    .product-photo-container {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: calc(1.5vw + 5px);
        .product-vertical-slide {
            display: none;
        }
        .product-image-container {
            grid-column: 1/2;
            img {
                cursor: zoom-in;
            }
        }
    }
    .product-info-container {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        section {
            border-bottom: 1px solid var(--grey);
            &:last-of-type {
                border: none;
            }
        }
    }
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
    visibility: visible;
    z-index: 10;
}
.modal-container {
    background: var(--mainWhite);
    border-radius: var(--mainBorderRadius);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}
.close-modal-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    transition: var(--mainTransition);
    &:hover {
        background: transparent;
    }
}
.next-modal-btn,
.prev-modal-btn {
    position: absolute;
    font-size: 1.5rem;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    transition: none;
    &:hover {
        background: transparent;
    }
}
.next-modal-btn {
    top: 50%;
    right: 2rem;
}
.prev-modal-btn {
    top: 50%;
    left: 2rem;
}
.modal-buttons {
    .disabled {
        opacity: 0.2;
    }
}
.modal-photo-container {
    img {
        height: 100vh;
        width: calc(100vh / 1.5);
    }
}
@media only screen and (max-width: 530px) {
    .modal-photo-container {
        img {
            height: unset;
            transform: translate3d(0px, 0px, 0px);
            transform-origin: 50% 50%;
            width: 100%;
            min-width: 100%;
        }
    }
}
