.sneekers-whole {
    padding: 60px;
    display: flex;
    flex-direction: column;
    h3 {
        grid-column: 1/4;
        letter-spacing: 0px;
        font-weight: 400;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--grey);
        span {
            font-size: 0.7rem;
            color: var(--darkerGray);
            margin: 0 10px;
        }
    }
}

.sneekers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    li {
        img {
            cursor: pointer;
        }
        .sneeker-footer {
            display: flex;
            flex-direction: column;
            p {
                font-size: 0.75rem;
                margin: 5px 0 0;
            }
            .womens-product-title {
                cursor: pointer;
                &:hover {
                    color: var(--darkerGray);
                }
            }
            span {
                justify-items: end;
                margin: 5px 0;
                font-size: 0.7rem;
                color: var(--darkerGray);
            }
        }
    }
}

.sneeker-search-form {
    width: 85vw;
    max-width: 40rem;
    margin: 0 0 20px;
}
.form-control {
    display: flex;
    align-items: center;
}
.form-control label {
    display: block;
    font-weight: 400;
    letter-spacing: 0rem;
    margin: 0 1rem 0 0;
}
.form-control input {
    border: 1px solid black;
    border-radius: var(--mainBorderRadius);
    padding: 0.3rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 900px) {
    .sneekers-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 650px) {
    .sneekers-whole {
        padding: 20px;
    }
}
@media only screen and (max-width: 550px) {
    .sneekers-container {
        grid-template-columns: 1fr 1fr;
    }
    .sneeker-search-form {
        width: 87vw;
    }
    .form-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-control label {
        margin: 0 1rem 0.75rem 0;
    }
    .form-control input {
        width: 100%;
    }
}
@media only screen and (max-width: 350px) {
    .sneekers-container {
        grid-template-columns: 1fr;
    }
    .sneeker-search-form {
        width: 82vw;
    }
}

// ====== SINGLE SNEEKER ======

.single-sneeker-container {
    a {
        margin: 10px 0 0 10px;
        display: flex;
        align-items: center;
        svg {
            margin-left: 10px;
        }
    }
    div {
        padding: 40px;
    }
}
.single-sneeker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}
.single-sneeker-image {
    display: flex;
    align-items: center;
}
.single-sneeker-info {
    display: flex;
    flex-direction: column;
    p {
        padding: 10px 0;
        font-size: 0.8rem;
        font-weight: 600;
        border-bottom: 1px solid var(--grey);
        span {
            font-weight: 400;
            margin-left: 20px;
        }
        &:last-of-type {
            font-size: 0.6rem;
            color: var(--darkerGray);
            font-weight: 300;
            text-decoration: underline;
            border-bottom: none;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .single-sneeker-container {
        div {
            padding: 2vw 20px;
        }
    }
}
@media only screen and (max-width: 750px) {
    .single-sneeker {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-row-gap: 30px;
    }
}
