.slide1-main {
}
.slide1-main h5 {
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey);
}
.slide1-view {
    overflow: hidden;
    width: calc(85vw + 6vw);
    position: relative;
}
.slide1-container {
    width: calc(85vw + 6vw);
    display: flex;
    transition: 0.5s cubic-bezier(0.19, 0.16, 0.63, 1.01);
}

.slide1-element {
    display: inline-block;
    margin: 0.75vw;
    &:first-of-type,
    &:nth-of-type(6) {
        margin-left: 0px;
    }
    &:nth-of-type(5) {
        margin-right: 0px;
    }
}

.slide1-image-container {
}
.slide1-image-container img {
    width: 17vw;
}
.slide1-image-footer {
    color: #767676;
    // display: none;
    background-color: var(#fafbfa);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 44px;
    padding: 10px 0;
}
.slide1-image-container p,
.slide1-element > p {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.slide1-image-container p {
    // text-align: center;
}
.slide1-element > p {
}

// ===== BUTTONS =====
.slide1-buttons {
}
.slide1-button {
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32%;
    font-size: 30px;
    cursor: pointer;
    border: none;
    padding: 5px 2px;
    &:hover {
        background-color: var(--grey);
        transition: var(--mainTransition);
    }
    transform: translateX();
}
.slide1-prev-button {
    left: 0%;
}
.slide1-next-button {
    right: 0%;
}
