.slide1-main {
    width: calc(83.5vw + 6vw);
}
.slide1-main h5 {
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey);
}
.slide1-view {
    overflow: hidden;
    width: calc(83.5vw + 6vw);
    position: relative;
    display: flex;
}
.slide1-container {
    width: calc(83.5vw + 6vw);
    display: flex;
    transition: 0.5s cubic-bezier(0.19, 0.16, 0.63, 1.01);
}

.slide1-element {
    display: inline-block;
    margin: 0.75vw;
    cursor: pointer;
    &:first-of-type,
    &:nth-of-type(6) {
        margin-left: 0px;
    }
    &:nth-of-type(5) {
        margin-right: 0px;
    }
}

.slide1-image-container {
    position: relative;
}
.slide1-image-container img {
    width: 16.7vw;
}
.slide1-image-footer {
    color: #767676;
    background-color: var(--mainWhite);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 44px;
    padding: 10px 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    .slide1-btn {
        color: black;
    }
    &:hover {
        .slide1-btn {
            color: var(--darkerGray);
        }
    }
}
.slide1-image-container p,
.slide1-element > p {
    font-weight: 300;
    letter-spacing: 0.2px;
    font-size: 0.75rem;
}
.slide1-image-container p {
    padding: 5px 0 0 0;
}
.slide1-element > p {
    margin: 10px 0;
}

// ===== BUTTONS =====
.slide1-buttons {
}
.slide1-button {
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    font-size: 30px;
    cursor: pointer;
    border: none;
    padding: 5px 2px;
    &:hover {
        background-color: var(--grey);
        transition: var(--mainTransition);
    }
    transform: translateX();
}
.slide1-prev-button {
    left: 0%;
}
.slide1-next-button {
    right: 0%;
}
.slide1-element .hidden {
    display: none;
}

@media only screen and (max-width: 800px) {
    .slide1-main {
        width: calc(76vw + 6vw);
    }
    .slide1-view {
        width: calc(76vw + 6vw);
    }
    .slide1-container {
        width: calc(76vw + 6vw);
    }
    .slide1-element {
        margin: 1vw;
        &:nth-of-type(6) {
            margin: 1vw;
        }
        &:first-of-type,
        &:nth-of-type(5) {
            margin: 1vw 1vw 1vw 0%;
        }
        &:nth-of-type(4) {
            margin-right: 0%;
        }
    }
    .slide1-image-container img {
        width: 19vw;
    }
    .slide1-button {
        width: 2.5vw;
        height: 5vw;
        top: 30%;
    }
    .slide1-image-footer {
        height: 32px;
        padding: 4px 0;
    }
}
@media only screen and (max-width: 600px) {
    .slide1-main {
        width: calc(69vw + 1.6vw);
    }
    .slide1-view {
        width: calc(69vw + 1.6vw);
    }
    .slide1-container {
        width: calc(69vw + 1.6vw);
    }
    .slide1-element {
        margin: 0.4vw;
        &:first-of-type,
        &:nth-of-type(4) {
            margin: 0.4vw 0.4vw 0.4vw 0%;
        }
        &:nth-of-type(3) {
            margin-right: 0%;
        }
        &:nth-of-type(5) {
            margin: 0.4vw;
        }
    }
    .slide1-image-container img {
        width: 23vw;
    }
    .slide1-button {
        top: 34%;
    }
    .slide1-image-footer {
        height: 28px;
        padding: 0px 0;
    }
}
@media only screen and (max-width: 480px) {
    .slide1-main {
        width: calc(62vw + 1.6vw);
    }
    .slide1-view {
        width: calc(62vw + 1.6vw);
    }
    .slide1-container {
        width: calc(62vw + 1.6vw);
    }
    .slide1-element {
        margin: 1vw;
        &:first-of-type,
        &:nth-of-type(3) {
            margin: 1vw 1vw 1vw 0%;
        }
        &:nth-of-type(2) {
            margin-right: 0%;
        }
        &:nth-of-type(4) {
            margin: 1vw;
        }
    }
    .slide1-image-container img {
        width: 31vw;
    }
    .slide1-button {
        top: 32%;
        width: 4.2vw;
        height: 8vw;
    }
}
