.grid-container h4 {
  font-weight: 400;
  color: var(--mainBlack);
  word-break: keep-all;
}

.grid-container p {
  font-size: 0.8rem;
  word-spacing: 1.5px;
  font-weight: 300;
  color: var(--darkerGray);
  word-break: keep-all;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.9fr;
      grid-template-columns: 1fr 1fr 0.9fr;
  -ms-grid-rows: 16.8vw auto;
      grid-template-rows: 16.8vw auto;
  grid-gap: 20px;
  margin: 40px auto;
}

.main-grid-banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.element0 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.grid-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (8.3vw)[17];
      grid-template-rows: repeat(17, 8.3vw);
  grid-gap: 20px;
}

.element1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.element2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

.element3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

.element4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 12;
  -ms-grid-row-span: 6;
  grid-row: 12/18;
}

.grid-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.element5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.element6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.element7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.element8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

@media only screen and (max-width: 1000px) {
  .grid-container {
    -ms-grid-rows: 15vw auto;
        grid-template-rows: 15vw auto;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 16vw auto;
        grid-template-rows: 16vw auto;
  }
  .main-grid-banner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-row-gap: 0px;
  }
  .element1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .element2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .element3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .element4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .grid-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: 40px 0 0px;
    grid-gap: 0px;
  }
  .main-grid-banner {
    display: none;
  }
  .grid-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide1-main {
  width: calc(83.5vw + 6vw);
}

.slide1-main h5 {
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey);
}

.slide1-view {
  overflow: hidden;
  width: calc(83.5vw + 6vw);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide1-container {
  width: calc(83.5vw + 6vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s cubic-bezier(0.19, 0.16, 0.63, 1.01);
  transition: 0.5s cubic-bezier(0.19, 0.16, 0.63, 1.01);
}

.slide1-element {
  display: inline-block;
  margin: 0.75vw;
  cursor: pointer;
}

.slide1-element:first-of-type, .slide1-element:nth-of-type(6) {
  margin-left: 0px;
}

.slide1-element:nth-of-type(5) {
  margin-right: 0px;
}

.slide1-image-container {
  position: relative;
}

.slide1-image-container img {
  width: 16.7vw;
}

.slide1-image-footer {
  color: #767676;
  background-color: var(--mainWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 44px;
  padding: 10px 0;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slide1-image-footer .slide1-btn {
  color: black;
}

.slide1-image-footer:hover .slide1-btn {
  color: var(--darkerGray);
}

.slide1-image-container p,
.slide1-element > p {
  font-weight: 300;
  letter-spacing: 0.2px;
  font-size: 0.75rem;
}

.slide1-image-container p:hover,
.slide1-element > p:hover {
  color: var(--darkerGray);
}

.slide1-image-container p {
  padding: 5px 0 0 0;
}

.slide1-element > p {
  margin: 10px 0;
}

.slide1-button {
  width: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 40%;
  font-size: 30px;
  cursor: pointer;
  border: none;
  padding: 5px 2px;
  -webkit-transform: translateX();
          transform: translateX();
}

.slide1-button:hover {
  background-color: var(--grey);
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
}

.slide1-prev-button {
  left: 0%;
}

.slide1-next-button {
  right: 0%;
}

.slide1-element .hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .slide1-main {
    width: calc(76vw + 6vw);
  }
  .slide1-view {
    width: calc(76vw + 6vw);
  }
  .slide1-container {
    width: calc(76vw + 6vw);
  }
  .slide1-element {
    margin: 1vw;
  }
  .slide1-element:nth-of-type(6) {
    margin: 1vw;
  }
  .slide1-element:first-of-type, .slide1-element:nth-of-type(5) {
    margin: 1vw 1vw 1vw 0%;
  }
  .slide1-element:nth-of-type(4) {
    margin-right: 0%;
  }
  .slide1-image-container img {
    width: 19vw;
  }
  .slide1-button {
    width: 2.5vw;
    height: 5vw;
    top: 30%;
  }
  .slide1-image-footer {
    height: 32px;
    padding: 4px 0;
  }
}

@media only screen and (max-width: 600px) {
  .slide1-main {
    width: calc(69vw + 1.6vw);
  }
  .slide1-view {
    width: calc(69vw + 1.6vw);
  }
  .slide1-container {
    width: calc(69vw + 1.6vw);
  }
  .slide1-element {
    margin: 0.4vw;
  }
  .slide1-element:first-of-type, .slide1-element:nth-of-type(4) {
    margin: 0.4vw 0.4vw 0.4vw 0%;
  }
  .slide1-element:nth-of-type(3) {
    margin-right: 0%;
  }
  .slide1-element:nth-of-type(5) {
    margin: 0.4vw;
  }
  .slide1-image-container img {
    width: 23vw;
  }
  .slide1-button {
    top: 34%;
  }
  .slide1-image-footer {
    height: 28px;
    padding: 0px 0;
  }
}

@media only screen and (max-width: 480px) {
  .slide1-main {
    width: calc(62vw + 1.6vw);
  }
  .slide1-view {
    width: calc(62vw + 1.6vw);
  }
  .slide1-container {
    width: calc(62vw + 1.6vw);
  }
  .slide1-element {
    margin: 1vw;
  }
  .slide1-element:first-of-type, .slide1-element:nth-of-type(3) {
    margin: 1vw 1vw 1vw 0%;
  }
  .slide1-element:nth-of-type(2) {
    margin-right: 0%;
  }
  .slide1-element:nth-of-type(4) {
    margin: 1vw;
  }
  .slide1-image-container img {
    width: 31vw;
  }
  .slide1-button {
    top: 32%;
    width: 4.2vw;
    height: 8vw;
  }
}

.community-banner {
  margin: 50px 0 20px 0;
  cursor: pointer;
}

.community-container {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.community-container img {
  cursor: pointer;
}

.community-footer {
  position: relative;
  height: 120px;
}

.community-footer h4 {
  padding: 5px 0 0 0;
  font-weight: 400;
  color: var(--mainBlack);
  word-break: keep-all;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.community-footer a {
  font-weight: 400;
  position: absolute;
  bottom: 0%;
  font-size: 0.9rem;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  h4 {
    font-size: 0.9rem;
  }
  .community-footer {
    height: 130px;
  }
}

@media only screen and (max-width: 800px) {
  .community-banner {
    margin: 30px 0 20px 0;
  }
  h4 {
    letter-spacing: 2px;
    font-size: 0.85rem;
  }
  .community-footer {
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .community-banner {
    display: none;
  }
  h4 {
    letter-spacing: 2.5px;
    font-size: 1rem;
  }
  .community-footer {
    height: 120px;
  }
  .community-container {
    margin: 60px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .community-element {
    margin: 0px 0 40px;
  }
}

@media only screen and (max-width: 420px) {
  h4 {
    letter-spacing: 2px;
    font-size: 0.85rem;
  }
  .community-footer {
    height: 130px;
  }
  .community-element {
    margin: 0px 0 20px;
  }
}

.navbar {
  background: var(--mainGrey);
  height: 5rem;
  border-bottom: var(--borderBottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar .nav-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr 2fr;
      grid-template-columns: 2fr 8fr 2fr;
  -ms-grid-rows: 5rem;
      grid-template-rows: 5rem;
      grid-template-areas: "logo navs search";
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: var(--smallWidth);
  height: 100%;
  margin: 0 0;
  width: var(--fullWidth);
}

.navbar .nav-center .logo-link {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar .nav-center .logo {
  width: 10rem;
  margin: 0 20px 0 0;
}

.navbar .nav-center .nav-links-container {
  overflow: hidden;
}

.navbar .nav-center .nav-links-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navs;
}

.navbar .nav-center .nav-links-container .nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .nav-center .nav-links-container .nav-links .nav-link {
  text-transform: capitalize;
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.8rem;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  border-bottom: 1px solid transparent;
}

.navbar .nav-center .nav-links-container .nav-links .nav-link:hover {
  color: var(--darkerGray);
}

.navbar .nav-center .search {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}

.navbar .nav-center .search .hidden {
  display: none;
}

.navbar .nav-center .search .nav-toggle {
  font-size: 1.5rem;
  color: var(--darkerGray);
  background: transparent;
  border-color: transparent;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
}

.navbar .nav-center .search .nav-toggle:hover {
  color: var(--mainBlack);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .nav-center .search .cart-link svg {
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  font-size: 1.5rem;
  color: var(--mainBlack);
  margin: 0 20px;
}

.navbar .nav-center .search .cart-link svg:hover {
  color: var(--darkerGray);
}

@media only screen and (max-width: 850px) {
  .navbar .nav-center {
        grid-template-areas: "logo . search";
  }
  .search {
    justify-self: flex-start;
  }
  .navbar .nav-center .nav-links-container {
    position: absolute;
    top: 110%;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--mainBackground);
  }
  .navbar .nav-center .nav-links-container .nav-link {
    margin-right: 2.5rem;
    font-size: 1rem;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
  }
  .navbar .nav-center .nav-links-container .nav-link:hover {
    color: var(--darkerGray);
    border-bottom: 1px solid var(--darkerGrey);
  }
}

.main {
  padding: 0 60px;
}

.about-container {
  margin: 30px 0;
  padding: 20px 0 0;
  border-top: 1px solid var(--grey);
}

.about-container h3 {
  font-weight: 400;
  letter-spacing: 1.5px;
}

.about-container p {
  font-weight: 300;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  font-size: 0.75rem;
  margin: 0 0 0.6rem;
}

.about-container span {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-size: 0.8rem;
  color: var(--darkerGray);
  cursor: pointer;
}

.about-container span:hover {
  border: none;
  text-decoration: none;
}

:root {
  --primaryLightColor: #d4e6a5;
  --mainWhite: #fff;
  --offWhite: #f5f5f5;
  --mainBackground: #f1f5f8;
  --mainBlack: #222;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --grey: #ddd;
  --lightGrey: #ececec;
  --darkGrey: #afafaf;
  --darkerGray: #767676;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 100vw;
  --borderBottom: 1px solid #ddd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

.active {
  color: green;
  border-bottom: 1px solid var(--darkGrey);
}
/*# sourceMappingURL=main.css.map */