.error-page {
    margin: 30px 60px;
}
.error-container {
    h4 {
        letter-spacing: 0.4px;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0 0 10px;
    }
}
.back-home-btn {
    display: flex;
    align-items: center;
    svg {
        margin-left: 10px;
    }
}
